In [ ]:
import numpy as np
import math

# Full function

In [ ]:
# Full function filees the entore array with desired number
# It's syntax is np.full((# of rows,# of columns),desired number)
filled_array = np.full((2,3),5)
filled_array

array([[5, 5, 5],
       [5, 5, 5]])

# Arange Function

In [ ]:
# Arange function creates a sequence of numbers with a step
# np.arange(start,stop,step)
aranged_array = np.arange(1,31,3)
aranged_array

array([ 1,  4,  7, 10, 13, 16, 19, 22, 25, 28])